:root {
    --bg-clr1: #0F172A;
    --bg-clr2: #1E293B;
    --btn-clr: #7477FF;
    --text-font: "Inter";
    --crazy-font: "Pacifico";
}

.section.about {
    height: 100vh;
    padding: 50px 0;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
}
.section.about > * {
    width: fit-content;
}
.about-title {
    font-size: 50px;
    font-weight: 700;
    width: fit-content;
}
.about-text {
    margin-top: 3rem;
    width: 300px;
    display: grid;
    gap: 1rem;
    font-size: 15px;
}
.about-text b {
    color: var(--btn-clr);
}
.btn.contact {
    margin: 20px 0;
}

/* Skills */
.skills-title {
    width: fit-content;
    font-size: 50px;
    font-weight: 700;
}
.skills {
    padding: 3rem 0;
    width: fit-content;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, auto);
    grid-auto-columns: min-content;
}
.skill {
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--bg-clr2);
    border-radius: 5px;
}

@media screen and (min-width: 1200px) {
    .section.about {
        flex-direction: row;
        justify-content: flex-start;
        gap: 10rem;
    }
}