:root {
    --bg-clr1: #0F172A;
    --bg-clr2: #1E293B;
    --btn-clr: #7477FF;
    --text-font: "Inter";
    --crazy-font: "Pacifico";
}

.section.hero {
    height: calc(100vh - 153px);
}
.hello-section {
    font-size: 40px;
    font-family: "Pacifico";
}
.hello-section b {
    color: var(--btn-clr);
}
.job {
    margin-top: 30px;
    color: lightgray;
    font-family: "Chivo";
}


.hero-top {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.hero-img {
    display: none;
}

@media screen and (min-width: 1200px) {
    .hero-img {
        display: block;
        margin-top: 2rem;
    }
}