:root {
    --bg-clr1: #0F172A;
    --bg-clr2: #1E293B;
    --btn-clr: #7477FF;
    --text-font: "Inter";
    --crazy-font: "Pacifico";
}


@media screen and (min-width: 425px) {
    .navbar {
        padding: 1rem 2rem;
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 100px 150px;
    }
}